body {
  height: 100vh;
  margin: 0;
  background-color: #191919;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.speaker {
  width: 400px;
  height: 400px;
}

.speaker .wave {
  transition: all 0.3s;
  transform-origin: left;
}

.speaker.off .wave1 {
  transform: translateX(-10px);
}
.speaker.off .wave2 {
  transform: translateX(-10px) scale(0.8);
}
.speaker.off .wave3 {
  transform: translateX(-3px) scale(0.6);
}
